* {
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
}

input {
  border: 1px solid #6400c1; /* primary theme colour */
  border-radius: 3px;
  font-family: "Titillium Web", sans-serif;
  font-size: inherit;
  width: 100%;
}

button {
  border-radius: 3px;
  font-size: 1.2rem;
  padding: 5px 10px;
}

.header {
  border-bottom: 1px solid black;
  height: 40px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.burger_icon {
  color: #6400c1; /* primary theme colour */
  cursor: pointer;
  font-size: 24px;
  padding: 2px 8px;
}

.gutter {
  border-right: 1px solid black;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 40px;
}

.mainarea {
  margin: 40px 0 0 40px;
  padding: 10px;
}

.block_h1 {
  display: flex;
  font-size: 3rem;
  margin: 20px 0 10px 0;
}

.block_h2 {
  display: flex;
  font-size: 2.5rem;
  margin: 15px 0 5px 0;
}

.block_h3 {
  display: flex;
  font-size: 2rem;
  margin: 10px 0 0 0;
}

.block_p {
  display: flex;
  font-size: 1rem;
  margin: 0 0 0 0;
}

.cell {
  padding: 0 5px 5px 0;
}

.button_pri {
  border: 1px solid #6400c1; /* primary theme colour */
  color: #6400c1; /* primary theme colour */
  cursor: pointer;
}

.footer {
  border-top: 1px solid black;
  bottom: 0;
  height: 40px;
  left: 0;
  position: fixed;
  right: 0;
}

.log {
  cursor: pointer;
  height: 30px;
  margin-left: 40px;
  overflow: hidden;
  padding: 6px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100vw - 60px);
}

.log_error {
  color: red;
}
