body {
  font-family: "Titillium Web", sans-serif;
}

.header {
  border-bottom: 1px solid black;
  height: 40px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.burger_icon {
  cursor: pointer;
  font-size: 24px;
  padding: 2px 8px;
}

.gutter {
  border-right: 1px solid black;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 40px;
}

.footer {
  border-top: 1px solid black;
  bottom: 0;
  height: 40px;
  left: 0;
  position: fixed;
  right: 0;
}

.log {
  box-sizing: border-box;
  cursor: pointer;
  margin-left: 40px;
  overflow: hidden;
  padding: 6px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100vw - 60px);
}

.log_error {
  color: red;
}
