/*
primary theme colour tints:

#6400c1
#7720c9
#8b40d1
#9e60d8
#b280e0
#c59fe8
#d8bff0
#ecdff7
*/

* {
  box-sizing: border-box;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
}

button {
  border: 0;
  font: inherit;
}

input {
  border: 1px solid #6400c1; /* primary theme colour */
  border-radius: 3px;
  font-family: "Titillium Web", sans-serif;
  font-size: inherit;
  width: 100%;
}

textarea {
  /* height: 50vh; */
  resize: none;
  white-space: pre-wrap;
  width: 100%;
}

.root {
  background-color: #f8f8f8;
}

.header {
  background-color: inherit;
  border-bottom: 1px solid black;
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
  left: 0;
  padding: 2px 5px 2px 45px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.logo {
  font-size: 22px;
  padding: 1px 10px;
  position: absolute;
  right: 0;
}

.logo > img {
  margin: 0 5px 3px 0;
  vertical-align: bottom;
  width: 25px;
}

.logo > b {
  color: #6400c1;
}

.burger_icon {
  color: #6400c1; /* primary theme colour */
  cursor: pointer;
  font-size: 26px;
  padding: 0px 7px;
}

.gutter {
  border-right: 1px solid black;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 40px;
}

.mainarea {
  margin-top: 40px;
}

.list_row {
  background-color: #eee;
  border-bottom: 1px solid black;
  display: flex;
  flex-flow: row nowrap;
  padding: 2px 5px 2px 45px;
  width: 100%;
}

.list_row_selected {
  background-color: #d8bff0;
}

.list_row:hover {
  background-color: #ddd;
}

.list_cell_xs {
  padding: 5px;
  width: 50px;
}

.list_cell_s {
  padding: 5px;
  width: 100px;
}

.list_cell_m {
  padding: 5px;
  width: 200px;
}

.list_cell_l {
  padding: 5px;
  width: 400px;
}

.list_cell_xl {
  padding: 5px;
  width: 600px;
}

.block_h1 {
  display: flex;
  font-size: 3rem;
  margin: 20px 0 10px 40px;
  padding: 0 10px;
}

.block_h2 {
  display: flex;
  font-size: 2.5rem;
  margin: 15px 0 5px 40px;
  padding: 0 10px;
}

.block_h3 {
  display: flex;
  font-size: 2rem;
  margin: 10px 0 0 40px;
  padding: 0 10px;
}

.block_p {
  display: flex;
  font-size: 1rem;
  margin: 0 0 0 40px;
  padding: 0 10px;
}

.cell {
  flex: 1 0 100px;
  padding: 0 5px 5px 0;
  white-space: pre-wrap;
}

.field_error input {
  border: 1px solid red;
}

.field_error textarea {
  border: 1px solid red;
}

.field_error > div:nth-child(2) {
  color: red;
}

.button_pri {
  background-color: #eee;
  border-left: 1px solid black;
  color: #6400c1; /* primary theme colour */
  cursor: pointer;
  display: block;
  font-size: 1rem;
  padding: 5px 10px;
}

.button_pri:hover {
  background-color: #ccc;
}

.button_sec {
  background-color: #eee;
  border-left: 1px solid black;
  color: #555;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  padding: 5px 10px;
}

.button_sec:hover {
  background-color: #ccc;
}

.button_disabled {
  background-color: #eee;
  border-left: 1px solid black;
  color: #777;
  display: block;
  font-size: 1rem;
  padding: 5px 10px;
}

.footer {
  background-color: inherit;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
  left: 0;
  position: fixed;
  right: 0;
}

.log {
  cursor: pointer;
  height: 30px;
  margin-left: 40px;
  overflow: hidden;
  padding: 6px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 0 200px;
}

.log_error {
  color: red;
}
